.container {
  padding: 0;
}

/* .grid {
  display: grid;
  grid-template-areas:
    'field field field field field field '
    'closeUp closeUp leaves leaves leaves leaves'
    'flags flags leaves leaves leaves leaves';
  grid-gap: 2px;
} */

.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.field {
  grid-area: field;
  width: 100%;
}

.closeUp {
  grid-area: closeUp;
  width: 100%;
  height: 100%;
}

.flags {
  grid-area: flags;
  background-color: #00B85C;
  background-image: url('../assets/flag-white.png');
  background-position: center left;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10% 100px;
}

.flags h2 {
  width: 50%;
  margin-left: 60%;
}

.flags:hover {
  background-image: url('../assets/flag-colored.png');
}

.leaves {
  margin-top: .2rem;
  width: 100%;
  height: 99.5%;
}

.divider {
  margin-top: 3rem;
  border-top: 1px solid #00B85C;
  width: 90%;
}

.newsContainer h1 {
  padding: 1rem 5rem;
  color: #00B85C;
}

.articles {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.article {
  position: relative;
  cursor: pointer;
}

.showArticle {
  width: 100%;
  height: 100%;
  margin-top: -20px;
  display: none;
}

.showArticle:hover {
  display: block;
}

/* .mainArticle {
  visibility: none;
}

.mainArticle:hover {
  visibility: visible;
} */

.layerTwo {
  width: 50%;
  height: 100%;
  margin-right: .2rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00B85C;
}

.article:hover .overlay {
  opacity: 0.7;
}

/* .leaves:hover,
.closeUp:hover {
  opacity: 0.7;
  background-color: #00B85C;
} */

.articleImg {
  width: 99%;
  margin: auto;
  display: block;
}

.articleTitle {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 10%;
}
